!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Mazel One - Onepage Responsive Html Template
    %meta{:content => "", :name => "description"}/
    %meta{:content => "creative, portfolio, template, theme, designed, html5, css3, responsive, mazel, onepage", :name => "keywords"}/
    %meta{:content => "nileforest", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    /[if IE] <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    / Favicone Icon
    %link{:href => asset_path("favicon.ico"), :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => asset_path("img/favicon.png"), :rel => "icon", :type => "image/png"}/
    %link{:href => "img/favicon.png", :rel => "apple-touch-icon"}/

    = stylesheet_link_tag "application"

    / Css
    / %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    / %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    / <link href="css/plugins/animate.css" rel="stylesheet" type="text/css" />
    / SLIDER REVOLUTION CSS SETTINGS
    / <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
  %body
    / Site preloader
    %section#preloader
      .site-spinner
    / End Site preloader
    / Page Wraper
    #page-wraper
      .wrapper
        / Header
        #header.header
          .header-inner
            / Logo
            .logo
              %a{:href => "#"}
                %img{:src => asset_path("logo-light.png")}/
            / End Logo
            / Navigation Icon
            .nav-menu-icon
              %a
                %i.fa.fa-bars
            / End Navigation Icon
            / Navigation Menu
            .nav-menu.singlepage-nav
              %ul.nav-menu-inner
                %li
                  %a{:href => "#intro"} Home
                %li
                  %a{:href => "#about"} About
                %li
                  %a{:href => "#latest-work"} Work
                %li
                  %a{:href => "#service"} Service
                %li
                  %a{:href => "#pricing"} Pricing
                %li
                  %a{:href => "#client"} Client
                %li
                  %a{:href => "#elements"} Elements
                %li
                  %a{:href => "#contact-us"} Contact
                %li
                  %a.nav-external.all-demos-link{:target => "_blank"} Demos
            / End Navigation Menu
        / End Header
        / Intro Section
        %section#intro.intro-fullscreen
          / Static Hero
          .intro-media.overlay-dark20
          .intro-caption-waper.dark-bg
            .intro-full-height.container
              .intro-content
                .intro-content-inner
                  .intro-img-circle
                    %img{:alt => "avatar01", :src => asset_path("avatar01.jpg")}/
                  %h1.intro-title.mb-10
                    %span.text-light Hi!, I am
                    John Doe
                  %h6.page-title-alt.mb-45 Web Designer &amp; Developer
                  %a.btn.btn-lg.btn-white.scroll-down{:href => "#Statement1"} Go My Resume
          / End Static Hero
        / End Intro Section
        / About Section
        %section#about.section-padding.white-bg.text-center
          .container.mb-60
            .row.text-center
              .col-md-6.wow.slideInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "1s"}
                %img{:alt => "mockup", :src => asset_path("mockup03.png"), :style => "max-width: 457px; width: 100%;"}/
              .col-md-6.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
                .spacer-15
                %h6.page-title-alt.color.mb-10 Creative Agency
                %h2.page-title.mb-25
                  Mazel
                  %span.text-light One
                %p.mb-35 Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo reprehenderit qui in dignissim qui blandit ea voluptate velit esse quam suscipit lobortis nisldolore eu feugiat  praesent luptatum nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril.
                %img{:alt => "signature", :src => asset_path("signature.png")}/
        / End About Section
        / About Section 2
        %section#about2.section-padding.text-center.gray-bg
          .container
            .row
              .col-md-4.col-sm-6.col-xs-12.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
                .icon-top.icon-black
                  %i.icon.icon-basic-anchor
                %h5.features-title We’re Creative
                %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
              .col-md-4.col-sm-6.col-xs-12.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
                .icon-top.icon-black
                  %i.icon.icon-basic-alarm
                %h5.features-title TWe have magic
                %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
              .col-md-4.col-sm-6.col-xs-12.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
                .icon-top.icon-black
                  %i.icon.icon-basic-globe
                %h5.features-title Why we do it
                %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
        / End About Section 2
        / Statement1 Section
        %section#Statement1.section-padding.bg-image.overlay-dark.dark-bg.text-center{"data-background-img" => asset_path("full/33.jpg"), "data-stellar-background-ratio" => "0.5"}
          .container
            %p.max-width-700.lead Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.
            %a.btn.btn-md.btn-color Download
        / End Statement1 Section
        / Team Section
        %section#team-people.section-padding.white-bg.text-center
          .container
            %h2.page-title
              Our
              %span.text-light Team
          .container
            .row
              / Team Carousel
              .owl-carousel.team-carousel.nf-carousel-theme
                .item
                  .team-item
                    .team-item-img
                      %img{:alt => "", :src => asset_path("team/01.jpg")}/
                      .team-item-detail
                        .team-item-detail-inner.light-color
                          %h5 Mitchell KAPPOS
                          %p To portal for some of the world's most high-value net.
                          %ul.social
                            %li
                              %a{:href => "https://www.facebook.com/", :target => "_blank"}
                                %i.fa.fa-facebook
                            %li
                              %a{:href => "https://www.twitter.com/", :target => "_blank"}
                                %i.fa.fa-twitter
                            %li
                              %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                                %i.fa.fa-dribbble
                            %li
                              %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                                %i.fa.fa-pinterest
                            %li
                              %a{:href => "https://www.behance.net/", :target => "_blank"}
                                %i.fa.fa-behance
                    .team-item-info
                      %h6 Mitchell KAPPOS
                      %p ( Graphic Designer )
                .item
                  .team-item
                    .team-item-img
                      %img{:alt => "", :src => asset_path("portfolio/thumb/03.jpg")}/
                      .team-item-detail
                        .team-item-detail-inner.light-color
                          %h5 Leonardo da Vinci
                          %p To portal for some of the world's most high-value net.
                          %ul.social
                            %li
                              %a{:href => "https://www.facebook.com/", :target => "_blank"}
                                %i.fa.fa-facebook
                            %li
                              %a{:href => "https://www.twitter.com/", :target => "_blank"}
                                %i.fa.fa-twitter
                            %li
                              %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                                %i.fa.fa-dribbble
                            %li
                              %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                                %i.fa.fa-pinterest
                            %li
                              %a{:href => "https://www.behance.net/", :target => "_blank"}
                                %i.fa.fa-behance
                    .team-item-info
                      %h6 Leonardo da Vinci
                      %p ( Front-End Dev )
                .item
                  .team-item
                    .team-item-img
                      %img{:alt => "", :src => asset_path("team/07.jpg")}/
                      .team-item-detail
                        .team-item-detail-inner.light-color
                          %h5 John Doe
                          %p To portal for some of the world's most high-value net.
                          %ul.social
                            %li
                              %a{:href => "https://www.facebook.com/", :target => "_blank"}
                                %i.fa.fa-facebook
                            %li
                              %a{:href => "https://www.twitter.com/", :target => "_blank"}
                                %i.fa.fa-twitter
                            %li
                              %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                                %i.fa.fa-dribbble
                            %li
                              %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                                %i.fa.fa-pinterest
                            %li
                              %a{:href => "https://www.behance.net/", :target => "_blank"}
                                %i.fa.fa-behance
                    .team-item-info
                      %h6 John Doe
                      %p ( Project Manager )
                .item
                  .team-item
                    .team-item-img
                      %img{:alt => "", :src => asset_path("team/04.jpg")}/
                      .team-item-detail
                        .team-item-detail-inner.light-color
                          %h5 Michael Lee
                          %p To portal for some of the world's most high-value net.
                          %ul.social
                            %li
                              %a{:href => "https://www.facebook.com/", :target => "_blank"}
                                %i.fa.fa-facebook
                            %li
                              %a{:href => "https://www.twitter.com/", :target => "_blank"}
                                %i.fa.fa-twitter
                            %li
                              %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                                %i.fa.fa-dribbble
                            %li
                              %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                                %i.fa.fa-pinterest
                            %li
                              %a{:href => "https://www.behance.net/", :target => "_blank"}
                                %i.fa.fa-behance
                    .team-item-info
                      %h6 Michael Lee
                      %p ( Web Developer )
                .item
                  .team-item
                    .team-item-img
                      %img{:alt => "", :src => asset_path("team/02.jpg")}/
                      .team-item-detail
                        .team-item-detail-inner.light-color
                          %h5 Michael Lee
                          %p To portal for some of the world's most high-value net.
                          %ul.social
                            %li
                              %a{:href => "https://www.facebook.com/", :target => "_blank"}
                                %i.fa.fa-facebook
                            %li
                              %a{:href => "https://www.twitter.com/", :target => "_blank"}
                                %i.fa.fa-twitter
                            %li
                              %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                                %i.fa.fa-dribbble
                            %li
                              %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                                %i.fa.fa-pinterest
                            %li
                              %a{:href => "https://www.behance.net/", :target => "_blank"}
                                %i.fa.fa-behance
                    .team-item-info
                      %h6 Michael Lee
                      %p Photographer
                .item
                  .team-item
                    .team-item-img
                      %img{:alt => "", :src => asset_path("team/06.jpg")}/
                      .team-item-detail
                        .team-item-detail-inner.light-color
                          %h5 Michael Lee
                          %p To portal for some of the world's most high-value net.
                          %ul.social
                            %li
                              %a{:href => "https://www.facebook.com/", :target => "_blank"}
                                %i.fa.fa-facebook
                            %li
                              %a{:href => "https://www.twitter.com/", :target => "_blank"}
                                %i.fa.fa-twitter
                            %li
                              %a{:href => "https://www.dribbble.com/", :target => "_blank"}
                                %i.fa.fa-dribbble
                            %li
                              %a{:href => "https://www.pinterest.com/", :target => "_blank"}
                                %i.fa.fa-pinterest
                            %li
                              %a{:href => "https://www.behance.net/", :target => "_blank"}
                                %i.fa.fa-behance
                    .team-item-info
                      %h6 Michael Lee
                      %p Photographer
              / End Team Carousel -
        / End Team Section
        %hr/
        / Accordian & Skills Section
        %section#accordian_skills.section-padding.white-bg
          .container.text-center
            %h2.page-title
              Skills
              %span.text-light &amp;
              History
          .container
            .row
              / Accordian
              .col-md-6.col-sm-6.mb-sm-30
                .accordion
                  .accordion-title
                    %a{:href => ""} Jan 14, 2008 (Opening)
                  .accordion-content
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
                  .accordion-title
                    %a{:href => ""} FEB 18, 2011 (The best company of the year)
                  .accordion-content
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
                  .accordion-title
                    %a{:href => ""} APR 6, 2013 (Opening
                  .accordion-content
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
              / End Accordian
              / Skills
              .col-md-6.col-sm-6
                .skillbar{"data-percent" => "55%"}
                  %h6.skillbar-title Design
                  .skill-bar-percent 55%
                  .skillbar-bar
                    .skillbar-bar-child
                .skillbar{"data-percent" => "80%"}
                  %h6.skillbar-title Development
                  .skill-bar-percent 80%
                  .skillbar-bar
                    .skillbar-bar-child
                .skillbar{"data-percent" => "40%"}
                  %h6.skillbar-title Photography
                  .skill-bar-percent 40%
                  .skillbar-bar
                    .skillbar-bar-child
                .skillbar{"data-percent" => "70%"}
                  %h6.skillbar-title Branding
                  .skill-bar-percent 70%
                  .skillbar-bar
                    .skillbar-bar-child
              / End Skills
        / End Accordian & Skills Section
        / Testimonials Section
        %section#testimonials.section-padding.bg-image.overlay-dark.dark-bg.text-center{"data-background-img" => asset_path("full/05.jpg"), "data-stellar-background-ratio" => "0.5"}
          .container
            .owl-carousel.testimonial-carousel.nf-carousel-theme.white
              .item
                .testimonial.text-center.max-width-700
                  .page-icon-sm
                    %i.fa.fa-quote-right
                  %p.lead I got a dummy for Christmas and started teaching myself. I got books and records and sat in front of the practising.
                  %h6.quote-author
                    Jeff Dunham
                    %span.text-regular ( Appel Studio )
              .item
                .testimonial.text-center.max-width-700
                  .page-icon-sm
                    %i.fa.fa-quote-right
                  %p.lead you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist.
                  %h6.quote-author
                    Alexander Theroux
                    %span.text-regular ( USA )
              .item
                .testimonial.text-center.max-width-700
                  .page-icon-sm
                    %i.fa.fa-quote-right
                  %p.lead We're not leaving here without Buster, man. Leave no crash-test dummy behind!
                  %h6.quote-author
                    Adam Savage
                    %span.text-regular ( Artist )
        / End Testimonials Section
        / Work Process Section
        %section#process.section-padding.white-bg
          .container.text-center
            %h2.page-title
              Work
              %span.text-light Process
          .container.text-center
            .row
              .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
                .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step1 - Skype Interview"}
                  .process-icon.alt-icon-top
                    %i.icon.icon-basic-headset
                  %h6 Interview
              .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
                .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step2 - Project Plan"}
                  .process-icon.alt-icon-top
                    %i.icon.icon-basic-book-pencil
                  %h6 Plan
              .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
                .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step3 - Design"}
                  .process-icon.alt-icon-top
                    %i.icon.icon-basic-picture-multiple
                  %h6 Design
              .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "0.8s", "data-wow-duration" => "2s"}
                .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step4 - Development"}
                  .process-icon.alt-icon-top
                    %i.icon.icon-basic-gear
                  %h6 Development
              .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
                .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step5 - Testing"}
                  .process-icon.alt-icon-top
                    %i.icon.icon-ecommerce-graph3
                  %h6 Testing
              .process-box.col-md-2.col-sm-4.col-xs-6.wow.fadeIn{"data-wow-delay" => "1.2s", "data-wow-duration" => "2s"}
                .tipped{"data-tipper-options" => "{\"direction\":\"top\"}", "data-title" => "Step6 - Delivery"}
                  .process-icon.alt-icon-top
                    %i.icon.icon-basic-anticlockwise
                  %h6 Delivery
        / End Work Process Section
        %hr/
        / Latest Work Section
        %section#latest-work.section-padding.white-bg
          .container.text-center
            %h2.page-title
              Latest
              %span.text-light Work
          .owl-carousel.content-carousel.content-slider
            .item
              .container
                .row
                  .col-md-6.mb-sm-30
                    %img{:alt => "", :src => asset_path("mockup01.png")}/
                  .col-md-5.col-md-offset-1
                    %h4.content-title Project name &amp; Title
                    %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
                    %ul.list-inside
                      %li Branding Design
                      %li Web Design
                    %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
                      Visit Site
                      %i.fa.fa-external-link.right
            .item
              .container
                .row
                  .col-md-5.mb-sm-30
                    %h4.content-title Project name &amp; Title
                    %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
                    %ul.list-inside
                      %li Fully Responsive
                      %li Web Design
                    %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
                      Visit Site
                      %i.fa.fa-external-link.right
                  .col-md-6.col-md-offset-1
                    %img{:alt => "", :src => asset_path("mockup01.png")}/
            .item
              .container
                .row
                  .col-md-6.mb-sm-30
                    %img{:alt => "", :src => asset_path("mockup01.png")}/
                  .col-md-5.col-md-offset-1
                    %h4.content-title Fully Responsive
                    %p Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.
                    %p porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet
                    .spacer-15
                    %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
                      Visit Site
                      %i.fa.fa-external-link.right
        / End Latest Work Section
        / Portfolio Section
        %section#portfolio.section-padding-t.gray-bg
          .container.text-center
            %h2
              Our
              %span.text-light Portfolio
          .container-fluid
            .row
              %ul.portfolio-filter.categories-filter
                %li
                  %a.categories.active{"data-filter" => "*"} All
                %li
                  %a.categories{"data-filter" => ".branding"} Branding
                %li
                  %a.categories{"data-filter" => ".creative"} Creative
                %li
                  %a.categories{"data-filter" => ".photography"} Photography
                %li
                  %a.categories{"data-filter" => ".coffee"} coffee
            .portfolio-grid-fit.row.gallery-popup
              \-----&gt;
              .portfolio-item.branding.photography.coffee
                .portfolio-box
                  %a.portfolio-image-wrap
                    %img{:alt => "", :src => asset_path("portfolio/thumb/01.jpg")}/
                  .portfolio-caption
                    .portfolio-caption-tb
                      .portfolio-caption-tb-cell
                        %h5 Digital Camera mockup
                        %p Mockup - Photography - Graphic - Branding
                        %ul.portfolio-btn-wraper
                          %li
                            %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/01.jpg"), :title => "Portfolio Image 01"}
                              %i.fa.fa-search
                          %li
                            %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                              %i.fa.fa-dribbble
                          %li
                            %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                              %i.fa.fa-pinterest
                          %li
                            %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                              %i.fa.fa-behance
              / ---
              .portfolio-item
                .portfolio-box
                  %a.portfolio-image-wrap
                    %img{:alt => "", :src => asset_path("portfolio/thumb/02.jpg")}/
                  .portfolio-caption
                    .portfolio-caption-tb
                      .portfolio-caption-tb-cell
                        %h5 Digital Camera mockup
                        %p Mockup - Photography - Graphic - Branding
                        %ul.portfolio-btn-wraper
                          %li
                            %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/02.jpg"), :title => "Portfolio Image 02"}
                              %i.fa.fa-search
                          %li
                            %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                              %i.fa.fa-dribbble
                          %li
                            %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                              %i.fa.fa-pinterest
                          %li
                            %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                              %i.fa.fa-behance
              / ---
              .portfolio-item.branding.photography
                .portfolio-box
                  %a.portfolio-image-wrap
                    %img{:alt => "", :src => asset_path("portfolio/thumb/03.jpg")}/
                  .portfolio-caption
                    .portfolio-caption-tb
                      .portfolio-caption-tb-cell
                        %h5 Digital Camera mockup
                        %p Mockup - Photography - Graphic - Branding
                        %ul.portfolio-btn-wraper
                          %li
                            %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/03.jpg"), :title => "Portfolio Image 03"}
                              %i.fa.fa-search
                          %li
                            %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                              %i.fa.fa-dribbble
                          %li
                            %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                              %i.fa.fa-pinterest
                          %li
                            %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                              %i.fa.fa-behance
              / ---
              .portfolio-item.creative
                .portfolio-box
                  %a.portfolio-image-wrap
                    %img{:alt => "", :src => asset_path("portfolio/thumb/04.jpg")}/
                  .portfolio-caption
                    .portfolio-caption-tb
                      .portfolio-caption-tb-cell
                        %h5 Digital Camera mockup
                        %p Mockup - Photography - Graphic - Branding
                        %ul.portfolio-btn-wraper
                          %li
                            %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/04.jpg"), :title => "Portfolio Image 04"}
                              %i.fa.fa-search
                          %li
                            %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                              %i.fa.fa-dribbble
                          %li
                            %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                              %i.fa.fa-pinterest
                          %li
                            %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                              %i.fa.fa-behance
              / ---
              .portfolio-item.creative
                .portfolio-box
                  %a.portfolio-image-wrap
                    %img{:alt => "", :src => asset_path("portfolio/thumb/05.jpg")}/
                  .portfolio-caption
                    .portfolio-caption-tb
                      .portfolio-caption-tb-cell
                        %h5 Digital Camera mockup
                        %p Mockup - Photography - Graphic - Branding
                        %ul.portfolio-btn-wraper
                          %li
                            %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/05.jpg"), :title => "Portfolio Image 05"}
                              %i.fa.fa-search
                          %li
                            %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                              %i.fa.fa-dribbble
                          %li
                            %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                              %i.fa.fa-pinterest
                          %li
                            %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                              %i.fa.fa-behance
              / ---
              .portfolio-item.branding.photography
                .portfolio-box
                  %a.portfolio-image-wrap
                    %img{:alt => "", :src => asset_path("portfolio/thumb/02.jpg")}/
                  .portfolio-caption
                    .portfolio-caption-tb
                      .portfolio-caption-tb-cell
                        %h5 Digital Camera mockup
                        %p Mockup - Photography - Graphic - Branding
                        %ul.portfolio-btn-wraper
                          %li
                            %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/06.jpg"), :title => "Portfolio Image 06"}
                              %i.fa.fa-search

                          %li
                            %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                              %i.fa.fa-dribbble
                          %li
                            %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                              %i.fa.fa-pinterest
                          %li
                            %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                              %i.fa.fa-behance
              / ---
              .portfolio-item.branding.creative.coffee
                .portfolio-box
                  %a.portfolio-image-wrap
                    %img{:alt => "", :src => asset_path("portfolio/thumb/07.jpg")}/
                  .portfolio-caption
                    .portfolio-caption-tb
                      .portfolio-caption-tb-cell
                        %h5 Digital Camera mockup
                        %p Mockup - Photography - Graphic - Branding
                        %ul.portfolio-btn-wraper
                          %li
                            %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/07.jpg"), :title => "Portfolio Image 07"}
                              %i.fa.fa-search
                          %li
                            %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                              %i.fa.fa-dribbble
                          %li
                            %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                              %i.fa.fa-pinterest
                          %li
                            %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                              %i.fa.fa-behance
              / ---
              .portfolio-item.photography
                .portfolio-box
                  %a.portfolio-image-wrap
                    %img{:alt => "", :src => asset_path("portfolio/thumb/08.jpg")}/
                  .portfolio-caption
                    .portfolio-caption-tb
                      .portfolio-caption-tb-cell
                        %h5 Digital Camera mockup
                        %p Mockup - Photography - Graphic - Branding
                        %ul.portfolio-btn-wraper
                          %li
                            %a.gallery-popup-link.btn.btn-color{:href => asset_path("portfolio/large/08.jpg"), :title => "Portfolio Image 08"}
                              %i.fa.fa-search
                          %li
                            %a.btn.btn-black{:href => "https://www.dribbble.com/", :target => "_blank"}
                              %i.fa.fa-dribbble
                          %li
                            %a.btn.btn-black{:href => "https://www.pinterest.com/", :target => "_blank"}
                              %i.fa.fa-pinterest
                          %li
                            %a.btn.btn-black{:href => "https://www.behance.net/", :target => "_blank"}
                              %i.fa.fa-behance
              / ---
        /
          End Portfolio Section

          <!-- Action Box Section
        %section#action-box2.action-box.action-black
          .container
            .row.action-box-left
              %h4.action-box-title Powerfull Onepage Multipurpose Responsive Template ?
            .action-box-right
              %a.btn.btn-md.btn-color{:href => "http://google.com/", :target => "_blank"} See More
        / Action Box Section
        / Service Section
        %section#service.section-padding.white-bg
          .container.mb-60.text-center
            %h2
              Our
              %span.text-light Service
            %p.max-width-700.large Excepturi Sint Occaecati Cupiditate non Provident voluptate.
          .container
            .row
              .col-md-4.col-sm-6.pt-30.pt-sm-0
                .content-box.right.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
                  .icon-right
                    %i.icon.icon-basic-display
                  %h5.features-title Bootstrap 3
                  %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
                .content-box.right.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "4s"}
                  .icon-right
                    %i.icon.icon-music-play-button
                  %h5.features-title html5 &amp; Youtube video
                  %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
                .content-box.right.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "6s"}
                  .icon-right
                    %i.icon.icon-basic-eye
                  %h5.features-title Clean code &amp; design
                  %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
                .content-box.right.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "8s"}
                  .icon-right
                    %i.icon.icon-basic-webpage-multiple
                  %h5.features-title Unlimited layouts
                  %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
              .col-md-4.hidden-sm.hidden-xs.text-center
                %img{:alt => "", :src => asset_path("mockup02.png")}/
              .col-md-4.col-sm-6.pt-30.pt-sm-0
                .content-box.left.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
                  .icon-left
                    %i.icon.icon-basic-gear
                  %h5.features-title Flexible &amp; Customizable
                  %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
                .content-box.left.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
                  .icon-left
                    %i.icon.icon-basic-cards-diamonds
                  %h5.features-title Multi Concept &amp; Mutli prapose Theme
                  %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
                .content-box.left.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
                  .icon-left
                    %i.icon.icon-basic-sheet
                  %h5.features-title Well Documented
                  %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
                .content-box.left.wow.fadeIn{"data-wow-delay" => "0.8s", "data-wow-duration" => "2s"}
                  .icon-left
                    %i.icon.icon-basic-headset
                  %h5.features-title Friendly Support
                  %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.
        / End Service Section
        / Counter Section
        %section#counter.section-padding.bg-image.overlay-dark.dark-bg{"data-background-img" => asset_path("full/14.jpg"), "data-stellar-background-ratio" => "0.5"}
          .container.text-center
            .row
              .col-md-3.col-sm-6.mb-sm-30
                .alt-icon-top.counter-icon
                  %i.icon.icon-basic-cup
                %h1.counter-title.counter-num 103
                %h5.counter-sub-title Awwards
              .col-md-3.col-sm-6.mb-sm-30
                .alt-icon-top.counter-icon
                  %i.icon.icon-basic-heart
                %h1.counter-title.counter-num 256
                %h5.counter-sub-title client
              .col-md-3.col-sm-6.mb-sm-30
                .alt-icon-top.counter-icon
                  %i.icon.icon-basic-case
                %h1.counter-title.counter-num 148
                %h5.counter-sub-title Project
              .col-md-3.col-sm-6.mb-sm-30
                .alt-icon-top.counter-icon
                  %i.icon.icon-basic-lightbulb
                %h1.counter-title.counter-num 23
                %h5.counter-sub-title Team
        / End Counter Section
        / Pricing Table
        %section#pricing.section-padding.white-bg
          .container.text-center
            %h2.page-title
              Pricing
              %span.text-light Table
          .container
            .row
              .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
                .pricing-box
                  .pricing-title.pricing-padding-t
                    %h4 Regular
                  .pricing-price.pricing-padding
                    %p
                      %span.dollar $
                      %span.pricing-price-lg 49
                      %span.pricing-price-sm / month
                  .pricing-features
                    %ul
                      %li Full Access
                      %li
                        1 Domain
                        %strong Free
                      %li Source Files
                      %li
                        %strong 50 User Accounts
                      %li 6 Month License
                      %li Premium Support
                  .pricing-button.pricing-padding
                    %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
                      %i.fa.fa-user.left>
                      Sign Up
              .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
                .pricing-box.highlight
                  .pricing-title.pricing-padding-t
                    %h4 Standard
                  .pricing-price.pricing-padding
                    %p
                      %span.dollar $
                      %span.pricing-price-lg.color 99
                      %span.pricing-price-sm / month
                  .pricing-features
                    %ul
                      %li Full Access
                      %li
                        10 Domain
                        %strong Free
                      %li Source Files
                      %li
                        %strong 500 User Accounts
                      %li 6 Month License
                      %li Premium Support
                  .pricing-button.pricing-padding
                    %a.btn.btn-md.btn-color{:href => "http://google.com/", :target => "_blank"}
                      %i.fa.fa-user.left>
                      Sign Up
              .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
                .pricing-box
                  .pricing-title.pricing-padding-t
                    %h4 Advanced
                  .pricing-price.pricing-padding
                    %p
                      %span.dollar $
                      %span.pricing-price-lg 199
                      %span.pricing-price-sm / month
                  .pricing-features
                    %ul
                      %li Full Access
                      %li
                        100 Domain
                        %strong Free
                      %li Source Files
                      %li
                        %strong 5000 User Accounts
                      %li 6 Month License
                      %li Free Support
                  .pricing-button.pricing-padding
                    %a.btn.btn-md.btn-black{:href => "http://google.com/", :target => "_blank"}
                      %i.fa.fa-user.left>
                      Sign Up
        / End Pricing Table
        / video Section
        %section#video-action.section-padding.bg-image.overlay-dark.dark-bg{"data-background-img" => asset_path("full/02.jpg"), "data-stellar-background-ratio" => "0.5"}
          .container.text-center
            .page-icon
              / %a.video-popup.white{:href => "https://www.youtube.com/watch?v=JXOXns_gx8k"}
              /   %i.icon.icon-music-play-button
            %p.max-width-700.lead
              We’re developing a number of special projects if interested,
              %br/
              see the promo video
            %h6.page-title-alt.color.mb-0 See Watch Video
        / End video Section
        / Client Logo
        %section#client.section-padding.white-bg
          .container.text-center
            %h2.page-title
              Happy
              %span.text-light Client
          .container
            .owl-carousel.client-carousel
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/01.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/02.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/03.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/04.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/05.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/06.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/08.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/01.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/02.png")}/
              .item
                .client-logo
                  %a{:href => "#"}
                    %img{:alt => "", :src => asset_path("logos/03.png")}/
        / End Client Logo
        %hr/
        / Tabs & Extra Elements
        %section#elements.section-padding.white-bg
          .container.text-center
            %h2.page-title
              Tabs
              %span.text-light &amp;
              Elements
          .container
            %ul.tabs-nav.alt-icon-tab.text-center
              %li.mb-30.active
                %a{"data-toggle" => "tab", :href => "#tab-video"}
                  .alt-icon-top
                    %i.icon.icon-basic-video
                  %h6 Video
              %li.mb-30
                %a{"data-toggle" => "tab", :href => "#tab-image-slider"}
                  .alt-icon-top
                    %i.icon.icon-basic-picture
                  %h6 Image Slider
              %li.mb-30
                %a{"data-toggle" => "tab", :href => "#tab-icon-box"}
                  .alt-icon-top
                    %i.icon.icon-basic-spades
                  %h6 Icon Box
              %li.mb-30
                %a{"data-toggle" => "tab", :href => "#tab-content-box"}
                  .alt-icon-top
                    %i.icon.icon-basic-webpage-txt
                  %h6 Content Box
              %li.mb-30
                %a{"data-toggle" => "tab", :href => "#tab-cover-box"}
                  .alt-icon-top
                    %i.icon.icon-basic-webpage-multiple
                  %h6 Cover Box
            .tabs-cont
              #tab-video.tab-pane.active
                .row
                  /
                    <div class="col-md-6">
                    <div class="media">
                    <iframe src="https://player.vimeo.com/video/37298913?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    </div>
                  .col-md-10.col-md-offset-1
                    .media
                      / %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/k9EyPfc0FXc?rel=0&controls=0&showinfo=0"}
              #tab-image-slider.tab-pane
                .row
                  .col-md-10.col-md-offset-1
                    .owl-carousel.image-carousel.nf-carousel-theme.white
                      .item
                        %img{:alt => "", :src => asset_path("full/06.jpg")}/
                      .item
                        %img{:alt => "", :src => asset_path("full/14.jpg")}/
                      .item
                        %img{:alt => "", :src => asset_path("full/09.jpg")}/
              #tab-icon-box.tab-pane
                .row
                  .col-md-4.col-sm-6.col-xs-12.mb-sm-30
                    .content-box.alt-left
                      .alt-icon-left
                        %i.icon.icon-basic-cup
                      %h5.features-title Branding Design
                      %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum.
                  .col-md-4.col-sm-6.col-xs-12.mb-sm-30
                    .content-box.alt-left
                      .alt-icon-left
                        %i.icon.icon-basic-life-buoy
                      %h5.features-title Web Design
                      %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum.
                  .col-md-4.col-sm-6.col-xs-12.mb-sm-30
                    .content-box.alt-right
                      .alt-icon-right
                        %i.icon.icon-basic-lightbulb
                      %h5.features-title App Development
                      %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum.
                  .col-md-4.col-sm-6.col-xs-12.mb-sm-30
                    .content-box.alt-left
                      .alt-icon-left
                        %i.icon.icon-basic-star
                      %h5.features-title Graphic Design
                      %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum.
                  .col-md-4.col-sm-6.col-xs-12.mb-sm-30
                    .content-box.alt-left
                      .alt-icon-left
                        %i.icon.icon-ecommerce-graph1
                      %h5.features-title Landscape Photography
                      %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum.
                  .col-md-4.col-sm-6.col-xs-12.mb-sm-30
                    .content-box.alt-right
                      .alt-icon-right
                        %i.icon.icon-music-play-button
                      %h5.features-title Photo Editing
                      %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum.
              #tab-content-box.tab-pane
                .container.text-center
                  .row
                    .col-md-4.col-sm-6.col-xs-12.mb-30
                      .content-box.content-box-with-bg
                        .icon-top.icon-color
                          %i.icon.icon-basic-accelerator
                        %h5.features-title Branding Design
                        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum dolorem.
                    .col-md-4.col-sm-6.col-xs-12.mb-30
                      .content-box.content-box-with-bg
                        .icon-top.icon-color
                          %i.icon.icon-basic-cup
                        %h5.features-title Web Design
                        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum dolorem.
                    .col-md-4.col-sm-6.col-xs-12.mb-30
                      .content-box.content-box-with-bg
                        .icon-top.icon-color
                          %i.icon.icon-basic-anchor
                        %h5.features-title App Development
                        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum dolorem.
                    .col-md-4.col-sm-6.col-xs-12.mb-30
                      .content-box.content-box-with-bg
                        .icon-top.icon-black
                          %i.icon.icon-basic-globe
                        %h5.features-title Graphic Design
                        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum dolorem.
                    .col-md-4.col-sm-6.col-xs-12.mb-30
                      .content-box.content-box-with-bg
                        .icon-top.icon-black
                          %i.icon.icon-basic-gear
                        %h5.features-title Photography
                        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum dolorem.
                    .col-md-4.col-sm-6.col-xs-12.mb-30
                      .content-box.content-box-with-bg
                        .icon-top.icon-black
                          %i.icon.icon-basic-paperplane
                        %h5.features-title Photo Editing
                        %p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum dolorem.
              #tab-cover-box.tab-pane
                .container
                  .row
                    .col-md-4
                      .cover-box.mb-30
                        %figure.cover-box-img
                          %img{:alt => "cover-img", :src => asset_path("portfolio/thumb/09.jpg")}/
                        .cover-box-content
                          %h5 Responsive Design
                          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime
                          %a.link
                            Read More
                            %i.fa.fa-angle-right.right
                    .col-md-4
                      .cover-box.mb-30
                        %figure.cover-box-img
                          %img{:alt => "cover-img", :src => asset_path("portfolio/thumb/06.jpg")}/
                        .cover-box-content
                          %h5 App Development
                          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime
                          %a.link
                            Read More
                            %i.fa.fa-angle-right.right
                    .col-md-4
                      .cover-box.mb-30
                        %figure.cover-box-img
                          %img{:alt => "cover-img", :src => asset_path("portfolio/thumb/05.jpg")}/
                        .cover-box-content
                          %h5 Photography
                          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime
                          %a.link
                            Read More
                            %i.fa.fa-angle-right.right
        / End Tabs & Extra Elements
        / Contact Form
        %section#contact-us.section-padding.dark-bg.bg-image.overlay-dark60{"data-background-img" => asset_path("full/20.jpg"), "data-stellar-background-ratio" => "0.5"}
          .container
            .row.text-center
              %h6.page-title-alt.color.mb-15 Wanna say hello?
              %h2.page-title
                Get In
                %span.text-light Touch
            .row
              .col-md-8.col-md-offset-2
                .row
                  %form#contact.contact-form{:role => "form"}
                    .col-md-12.text-center
                      %h5.successContent
                        %i.fa.fa-check.left{:style => "color: #5cb45d;"}>
                        Your message has been sent successfully.
                      %h5.errorContent{:style => "color: #e1534f;"}
                        %i.fa.fa-exclamation-circle.left>
                        There was a problem validating the form please check!
                    .col-md-6
                      .form-field-wrapper
                        %input#form-name.input-md.form-full{:name => "form-name", :placeholder => "Your Name", :required => "", :type => "text"}/
                      .form-field-wrapper
                        %input#form-email.input-md.form-full{:name => "form-email", :placeholder => "Email", :required => "", :type => "email"}/
                      .form-field-wrapper
                        %input#form-subject.input-md.form-full{:name => "form-subject", :placeholder => "Subject", :type => "text"}/
                    .col-md-6.mb-0
                      .form-field-wrapper
                        %textarea#form-message.input-md.form-full{:name => "form-message", :placeholder => "Your Message", :required => "", :rows => "7"}
                    .col-md-12.text-center
                      %button#form-submit.btn-contact-submit.btn.btn-md.btn-color{:name => "submit", :type => "submit"} Submit
        / End Contact Form
        / Map section
        %section#map.map
        / End Map section
        / Contact Info Section
        %section#contct-info.section-padding.white-bg
          .container.text-center
            .row
              .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
                .alt-icon-sm-top
                  %i.icon.icon-basic-geolocalize-05
                %h5.features-title Address
                %p
                  502, DieSachbearbeiter, Schönhauser Allee,
                  %br/
                  167c10435 Berlin,Germany.
              .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
                .alt-icon-sm-top
                  %i.icon.icon-basic-alarm
                %h5.features-title office Hours
                %p
                  Mon - Fri : 8am to 6pm
                  %br/
                  Sat : 10am to 2pm
              .col-md-4.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
                .alt-icon-sm-top
                  %i.icon.icon-basic-headset
                %h5.features-title Contact
                %p.contact-link
                  %a{:href => "mailto:yourname@domain.com"}
                    %span.text-bold Email :
                    yourname@domain.com
                  %br/
                  %a
                    %span.text-bold Call :
                    +40 (0) 012 345 6789
        / End Contact Info Section
        / Footer Section
        %footer#footer.footer.section-padding.gray-bg
          .container.text-center
            / Footer Logo
            .footer-logo.mb-25.wow.fadeInUp{"data-wow-duration" => "1.5s"}
              %a.scroll-top{:href => "#intro"}
                %img{:alt => "mazel", :src => asset_path("logo-dark.png")}/
            / End Footer Logo
            / Copyright
            %p.copyright.mb-25
              © 2015
              = succeed "." do
                %a
                  %b Mazel Template
              %br/
              Template by
              %a{:href => "http://nileforest.com/", :target => "_blank"}
                %b nileforest
            / Copyright
            / Social
            %ul.social
              %li
                %a{:href => "https://www.facebook.com/", :target => "_blank"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "https://www.twitter.com/", :target => "_blank"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "https://www.linkedin.com/", :target => "_blank"}
                  %i.fa.fa-linkedin
              %li
                %a{:href => "https://plus.google.com/", :target => "_blank"}
                  %i.fa.fa-google-plus

            / End Social
        / End Footer Section
    / End Page Wraper

    = javascript_include_tag "application"

    / Js
    / %script{:src => "js/jquery-1.11.2.min.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.easing.1.3.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/bootstrap.min.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.fitvids.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.stellar.min.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/isotope.pkgd.min.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.appear.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.fs.tipper.min.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.countTo.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/owl.carousel.min.js", :type => "text/javascript"}
    / / SLIDER REVOLUTION SCRIPTS
    / %script{:src => "rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
    / %script{:src => "rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    / / End SLIDER REVOLUTION SCRIPTS
    / %script{:src => "js/plugins/jquery.magnific-popup.min.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.backstretch.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.singlePageNav.min.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/wow.min.js", :type => "text/javascript"}
    / %script{:src => "js/plugins/jquery.validate.min.js", :type => "text/javascript"}
    / %script{:src => "js/contact-form.js", :type => "text/javascript"}
    / %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
    / %script{:src => "js/map.js", :type => "text/javascript"}
    / %script{:src => "js/theme.js", :type => "text/javascript"}
    / / Background Slideshow
    :javascript
      $.backstretch([
          "#{asset_path("porsche/1.jpg")}",
        "#{asset_path("porsche/2.jpg")}",
        "#{asset_path("porsche/3.jpg")}"
      ], {
          fade: 750,
          duration: 4000
      });
