%header.header
  .container
    .header-inner.dark-bg
      = render "messages"
      .logo
        = link_to root_url do
          %img{:src => asset_path("logo-rennmappe-white.png")}/
      .nav-menu-icon
        %a
          %i.fa.fa-bars
      .nav-menu
        %ul.nav-menu-inner
          - if user_signed_in?
            %li
              = link_to "dashboard", dashboard_path
            %li
              = link_to('settings', edit_user_registration_path)
            %li
              = link_to("Not #{current_user.reconciled_name}? sign out", destroy_user_session_path)
          - else
            %li
              = link_to('sign in', new_user_session_path)
            %li
              = link_to('sign up', new_user_registration_path)
