!!!
%html{:lang => "en"}
  %head
    = render "head"
    = yield :stylesheets
  %body
    .wrapper
      = render "application/header"
      / %header#header.header

      = yield

      /   / .container
      /   /   = render "messages"
      /   / .container
      /   /   .wrapper

      /   = render "header"
      /   / = content_for?(:header) ? yield(:header) : render "header"
      %footer#footer.footer.section-padding.gray-bg
        = render "footer"
    = yield :javascripts

