!!!
%html{:lang => "en"}
  %head
    = render "head"
    = yield :stylesheets
  %body
    / = render "preloader"
    / .container
    .container
      = render "messages"
    .container
      .wrapper

        = render "header"
        / = content_for?(:header) ? yield(:header) : render "header"
      = yield
      %footer#footer.footer.section-padding.gray-bg
        = render "footer"
    = yield :javascripts

