!!!
%html{:lang => "en"}
  %head
    = render "head"
    = stylesheet_link_tag "application"

  %body
    .wrapper
      = render "devise/header"
      %section.section-padding
        .container.mb-60
          .spacer-30

          .row.justify-content-center
            .col-6
              .devise
                = yield
      %footer#footer.footer.section-padding
        = render "footer"
    = yield :javascripts

