!!!
%html{:lang => "en"}
  %head
    = render "head"
    = stylesheet_link_tag "static"
  %body

    .wrapper
      = render "header"

      = yield
      %footer#footer.footer.section-padding.gray-bg
        = render "footer"
    = javascript_include_tag "static"

